@model IEnumerable<DeskBookingApplication.Models.DeskBooking>

@{
    ViewData["Title"] = "Manage Bookings";
}

<h2>@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <p>There are no bookings on these dates!</p>

    <a asp-action="ManageBookings" class="btn btn-secondary">Back to all bookings</a>

}
else
{

    @* Search Options - Search bar for employee search, calendar to narrow dates down*@
    <form asp-controller="Manager" asp-action="ManageBookings">
        <input name="searchString" class="form-control" type="search" placeholder="Enter employee first or last name" aria-label="Search" />
        <input type="date" name="dateFrom" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <input type="date" name="dateTo" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <button class="btn btn-dark" type="submit">Search</button> 
    </form>


    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th class="text-nowrap">Date</th>
                <th>Desk</th>
                <th>Employee</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.BookingDate.ToString("ddd dd MMM yyyy")</td>
                    <td>@booking.Desk.Name</td>
                    <td>@booking.User.FirstName @booking.User.LastName</td>
                    <td>
                        <form asp-action="Cancel" method="post" asp-route-id="@booking.Id" onsubmit="return confirm('Are you sure you want to cancel the booking?');">
                            <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}